<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>

</head>
<body>
	
			<fieldset>
				<legend><h1>My Profile</h1></legend>
				
				<table>
	
		<tr>
			<td><b>ID: </b></td>
			<td><%= userList.id %></td>
		</tr>
<tr>		
			<td><b>Username: </b></td>
			<td><%= userList.username %></td>
			</tr>
			<tr>
			<td><b>Password: </b></td>
			<td><%= userList.password %></td>
			</tr>
			<tr>
			<td><b>Phone: </b></td>
				<td><%= userList.phone %></td>
			</tr>

	</table><br/>
			
			
			
	<a href ="/employee">Back</a>	
	</fieldset>
</body>
</html>